/*Style do zadania 2*/
.borderClass {
   border:1px solid purple;
}


/*Style do zadania 3*/
.colorText {
  color: red;
}
.backgroundElement {
  background-color: yellow;
}

/*Style do zadania 5 */
.creepyHeader {
    color:silver;
     text-shadow:
     4px 4px 1px #300000,
     4px 6px 1px #400000,
     4px 8px 1px #500000,
     4px 10px 1px #600000,
     4px 12px 1px #700000,
     4px 14px 1px #800000,
     4px 16px 1px #900000,
     4px 18px 1px #A00000,
     4px 20px 1px #B00000,
     4px 22px 1px #C00000,
     4px 24px 1px #D00000,
     4px 26px 1px #E00000,
     4px 28px 1px #F00000,
     4px 30px 1px #FA0000,
     4px 32px 1px #FB0000,
     4px 34px 1px #FC0000,
     4px 36px 1px #FD0000,
     4px 38px 1px #FE0000,
     4px 40px 2px #FF0000;
}
